@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PROG3050.ViewModel.WishlistViewModel

@{
    ViewData["Title"] = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wishlist</h1>

@if (Model != null && Model.Wishlist.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Game Title</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Wishlist)
            {
                <tr>
                    <td>@item.Game.Title</td>
                    <td>@item.Game.Price</td>
                    <td>
                        <form method="post" asp-action="RemoveFromWishlist" asp-route-gameId="@item.GameId">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a id="twitterShareLink" href="https://twitter.com/intent/tweet?url=&text=" target="_blank">Share on Twitter</a>

}
else
{
    <p>Your wishlist is empty.</p>
}

@section scripts {
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>



    <script>
        var textQuote = $("#quote").text();
        $("a").attr(copyTitles(), textQuote);

        function copyTitles() {
            var titles = document.querySelectorAll('.table-striped td:nth-child(1)'); 
            var titlesArray = Array.from(titles).map(td => td.textContent.trim()).join(', ');

            titlesArray = titlesArray.replace(/,/g, '\n');

            var additionalText = "[This is My Wish List !!]\n\n";

            var textarea = document.createElement('textarea');
            textarea.value = titlesArray;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);

            var twitterShareLink = document.getElementById('twitterShareLink');
            twitterShareLink.href = "https://twitter.com/intent/tweet?url=&text=" + encodeURIComponent(additionalText + titlesArray);
        }

    </script>



}