html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-green-button {
    background-color: #426B1F;
    border-color: #426B1F;
    color: white;
}

.navbar-brand {
    color: #426B1F !important;
}

.main-image {
    width : 400px;
    height : 500px;
}

.main-container {
    clear: both;
    text-align: left;
}

.main-container img {
    float: left;
    max-width: 100%;
    margin-right: 100px;
}

.main-block {
    float: left;
    width: 400px;
    height: 500px;
    margin-right: 100px;
}