@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cart Checkout Success!</h1>

<h6>You have succcesfully checked out and a new order has been created. <a asp-controller="Orders" asp-action="UserOrders">Click here to view your order.</a></h6>