@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <content class="px-2"><a asp-controller="Cart" asp-action="Index" class="btn btn-warning"><i class="fa fa-cart-shopping"></i> View Cart</a></content>
    <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome back, @User.Identity?.Name!
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="FriendFamilies" asp-action="Index">Friend/Family</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-controller="Reviews" asp-action="Index">Reviews</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="WishList" asp-action="Index">Wish List</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-controller="Orders" asp-action="UserOrders">Orders</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="DownLoad" asp-action="Index">Download</a>
            </li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>

