@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center main">
    <h1>Welcome to the CVGS Insider Club</h1>
    <button class="btn-sm main-green-button navbar-btn"><a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a></button>
    <div class="main-container">
        <div class="main-block">
            <img class="main-image" src="~/Images/main.jpg" />
        </div>
        <div>
            <h6>BE A MEMBER!</h6>
            <p>
                Join the CVGS Insiders Club, where gaming enthusiasts unite for an exclusive online experience! Marvin Aday, our Vice President of Retail Operations, is dedicated to enhancing your gaming journey. In his pursuit to boost online game sales, he identified the need for a unique platform that caters to our loyal customers.
                Our Vision: At CVGS, we envision a community-driven space that offers members unprecedented access and privileges. The Insiders Club is your gateway to a realm of exciting features and benefits that will keep you immersed in the gaming world.
            </p>
            <p>
                Membership Perks:
            </p>
            <ul>
                <li>Members-Only Access: Gain entry to a curated selection of exclusive content, game previews, and early access to releases. Stay ahead of the curve and be the first to experience the latest in gaming.</li>
                <li>Special Discounts: Enjoy exclusive discounts on a wide range of products, ensuring you get the best deals on all your favorite games and accessories.</li>
                <li>Gaming News and Updates: Receive personalized updates on your preferred gaming genres, upcoming events, and insider insights from industry experts.</li>
                <li>Interactive Forums: Engage with fellow members in lively discussions, share gaming tips, tricks, and strategies, and connect with like-minded gamers from around the world.</li>
                <li>Game Reviews and Ratings: Contribute your reviews and ratings for games you've played, helping others make informed decisions and fostering a sense of community.</li>
                <li>Member-Driven Contests and Challenges: Compete in exciting gaming challenges, win amazing prizes, and showcase your skills to the community.</li>
            </ul>
            <p>
                Our Commitment: The CVGS Insiders Club is designed to be a platform built by gamers, for gamers. We are constantly evolving and welcome your suggestions and feedback to tailor the experience to your preferences.    
            </p>
            <p>
                Become an Insider today and unlock a world of gaming excitement like never before! Embrace the future of gaming at CVGS, where every click brings you closer to your gaming dreams.
                Join the Insiders Club and embark on a gaming adventure like no other!
            </p>
        </div>
     </div>
</div>
